@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1546855673250'); /* IE9 */
  src: url('iconfont.eot?t=1546855673250#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABswAAAKVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBWIFOATYCJAMICwYABCAFhG0HMBv0BRHVk01kf4BMbuUHAJIeswNMuASYRAi6Qh1F3oKRQhX8AAAAAADB82j3/bnBvGxmQX6wpNCBqIjSNXvApScneBY3N6uuURGKJTnP++k70jEh5Jf7XpjJFEaY3jX9ZCRjmuID2ZoA7K5eIxQBLsshE4MA+J/DpU0KA5kfKMc5F/WyNN4a4F7YJiuQQI/5hrELXMJ5COApVE86bj0H4jBY0wSQmXHKOFzOhsGwoEMIatYaZDsWpzaoe2Bb+H35rFkcKKzGSus7udNE2r7Lt8P08igjfQR2ENBmC2igHhiQgbW+3miE4TXeZyjFvpIF3uVHka9A9vrPQwKsxHgA8iHtnugu41bzFACGe+/vAvQeFQY2nwTrjy37nypPPHFGYivOViVJ4rHr+cGRG2HSpltF1o+wtVPmhu9bsdf7jbuX7wklg1NJ6MRntzYndRLXkhelSmrJ9WX1PyZcLblWcpA2d2bD0SPrjxz586ekA+7X8RtityHuTF9038m0BSDavm77qb+h60+vjElqMAA8GOavcEK0g54twJ1aL/AL6T1rjM605Mqo9NqQogv21oo8HohgU6pnY0UZ96sRXI7OQBGjADSOcqTB1oMlpAUEONqAp06XzSFp5qMREwfUWgNASHYRFIncAk2y+0iDfQqWTF8hIDkaPIPFniHeiRKhYrSgfxBNb85RsoySr+hfRVGWGRKeSGd0wjxMxeAFG9IcC863X5gdOOoVNnAZltJhp57Q8BCY93UcXd2bBtOrkBAqRgv0D0TTm/Obsyx9/or+VRS1VNWon0hnHBzMBlMP5IXXelXdyzXn2y+YHXDUK9jAKCylg71+VELDgzDCs69Gu57ryxvWF9Sv2wJ4lljFHla9qFqKQgAAAAA=') format('woff2'),
  url('iconfont.woff?t=1546855673250') format('woff'),
  url('iconfont.ttf?t=1546855673250') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1546855673250#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e61c";
}

