body, html {
    background: #fff;
}
/*列表页样式*/
.addressInofModule {
}

.moduleHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.2rem;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 99;
}

.iCone, .moduleTitle {
    text-align: center;
    font-size: 0.4rem;
    font-weight: bold;
}

.iCone {
    width: 15%;
}

.moduleTitle {
    width: 70%;
   
}

.addressModule {
    margin: 1.2rem 0.2666rem 2rem;
}

.addressInof {
    padding: 0.1333rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.inofModule {
    width: 90%;
    border: 1px solid #5e5e5e;
    padding: 0.133rem;
    border-radius: 0.133rem;
}

    .inofModule.active {
        border: 1px solid #ff0000;
    }

.editBtn {
    width: 10%;
    text-align: center;
}
    .editBtn i{
        font-size:0.6rem;
        color:#000;
    }

    .company, .personName, .personPhone {
        font-size: 0.21333rem;
        color: #222;
        font-weight: bold;
    }

.personName {
}

.personPhone {
    padding-left: 0.2666rem;
}

.personAddress {
    font-size: 0.16rem;
    color: #5e5e5e;
}

.moduleFooter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index:99;
}

.addBtn {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: #ff0000;
    color: #fff;
    font-size: 0.4rem;
    padding: 0.16rem 0;
    border-radius: 0.4rem;
}
.addBtn a{
    color:#fff;
}
/*维护页样式*/

